---
import Layout from "../layouts/Layout.astro";
import AddSongForm from "../components/AddSongForm.jsx"
import { app } from '../firebase/server';
import { getAuth } from "firebase-admin/auth"

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get("session")

if(!sessionCookie){
	return Astro.redirect("/login")
}

let user
try{
    const decodedCookie = await auth.verifySessionCookie(sessionCookie.value)
    
    user = await auth.getUser(decodedCookie.uid)
} catch(error){
    Astro.cookies.delete("session")
	return Astro.redirect("/login")
}
---

<Layout title="Astro Basics">
    <main>
        {user.addedSongs < 5 ?
            <>
                <h1>Add a Song</h1>
                <AddSongForm client:only="react" sessionCookie={sessionCookie.value} />
            </>
        :
            <>
                <h1>Cannot add Songs</h1>
                <p>You have reached your limit of 5 songs added - please remove songs to add new ones.</p>
                <a href={`/profile/${user.uid}`}>My Profile</a>
            </>
        }
    </main>
</Layout>

<style>
    a{
        color: inherit;
        text-align: center;
        display: block;
        font-size: clamp(1.125rem, 4vw, 1.25rem);
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
</style>