---
import Layout from "../layouts/Layout.astro";
import AddSongForm from "../components/AddSongForm.jsx"
import { app } from '../firebase/server';
import { getAuth } from "firebase-admin/auth"

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get("session")

if(!sessionCookie){
	return Astro.redirect("/login")
}

try{
    const decodedCookie = await auth.verifySessionCookie(sessionCookie.value)
    
    const user = await auth.getUser(decodedCookie.uid)
} catch(error){
    Astro.cookies.delete("session")
	return Astro.redirect("/login")
}
---

<Layout title="Astro Basics">
    <main>
        <h1>Add a Song</h1>

        <AddSongForm client:only="react" sessionCookie={sessionCookie.value} />
    </main>
</Layout>