---
import Layout from "../layouts/Layout.astro";
import AddSongForm from "../components/AddSongForm.jsx"
import { app } from '../firebase/server';
import { getAuth } from "firebase-admin/auth"

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get("session").value

if(!sessionCookie){
	return Astro.redirect("/login")
}

const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)

if(!user){
	return Astro.redirect("/login")
}
---

<Layout title="Astro Basics">
    <main>
        <h1>Add a Song</h1>

        <AddSongForm client:idle />
    </main>
</Layout>