---
import Layout from "../layouts/Layout.astro";
import AddSongForm from "../components/AddSongForm.jsx"
import { db, app } from '../firebase/server';
import { getAuth } from "firebase-admin/auth"

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get("session")

if(!sessionCookie){
	return Astro.redirect("/login")
}

let user
try{
    const decodedCookie = await auth.verifySessionCookie(sessionCookie.value)
    
    user = await auth.getUser(decodedCookie.uid)
} catch(error){
    Astro.cookies.delete("session")
	return Astro.redirect("/login")
}

const addedSongs = (await db.collection("users").doc(user.uid).get()).data().addedSongs
---

<Layout title="Musical Stockpile - Add a Song">
    <main>
        {addedSongs < 5 ?
            <>
                <h1>Add a Song</h1>

                <p>! Note that a song can only after 5 days from when it was created</p>
                <AddSongForm client:only="react" sessionCookie={sessionCookie.value} />
            </>
        :
            <>
                <h1>Cannot add Songs</h1>
                <p>You have reached your limit of 5 songs added - please remove songs to add new ones.</p>
                <a href={`/profile/${user.uid}`}>My Profile</a>
            </>
        }
    </main>

</Layout>

<style>
    a{
        text-align: center;
        display: block;
        font-size: clamp(1.125rem, 4vw, 1.25rem);
    }
</style>