---
import Layout from '../layouts/Layout.astro';
import { db, app } from '../firebase/server';
import { getAuth } from "firebase-admin/auth"

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get("session").value

if(!sessionCookie){
	return Astro.redirect("/login")
}

const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)

if(!user){
	return Astro.redirect("/login")
}

const songsRef = db.collection("songs")
const songsSnapshot = await songsRef.get()
const songs = songsSnapshot.docs.map(doc => ({
	id: doc.id,
	...doc.data()
}))
---

<Layout title="Astro Basics">
	<main>
		<h1>Welcome to <span class="text-gradient">Musical Stockpile</span>, {user.displayName}</h1>
		<p>
			The place for sharing your favourite songs, with your favourite people.

			<br /><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia earum possimus iste? Sunt velit aliquam laboriosam provident in officia animi.
		
			<a href="/add"><button>Add Song 🎵</button></a>
		</p>

		{songs && 
			<div class="songs-container">
				<h2>🔥 Popular Songs:</h2>
				<div class="songs">
					{songs.map(song =>(
						<div class="song">
							<h3>{song.title}</h3>
							<h4>By {song.artists.map((artist, index) => (
								<>{`${artist}${index === song.artists.length - 1 ? "" : ", "}`}</>
							))}</h4>
						</div>
					))}
				</div>
			</div>
		}
	</main>
</Layout>

<style>
	a{
		text-decoration: none;
		color: inherit;
	}
	button{
		background: linear-gradient(90deg, #eee, #a9eca9);
		display: block;
		position: relative;
		margin: 1rem auto;
		padding: 0.5rem;
		border-radius: 0.5rem;
		font-weight: bold;
		border: 1px solid limegreen;
		cursor: pointer;
		font-size: 1.25rem;
		outline: 0px solid limegreen;
	}
	button::after{
		content: "";
		width: 100%;
		height: 2px;
		background: limegreen;
		position: absolute;
		bottom: 5px;
		left: 0;
		transform: scaleX(0);
		transform-origin: left;
		transition: 0.25s ease-out;
	}
	button:hover{
		animation: outline-ripple 0.5s ease-out;
	}
	button:hover::after{
		transform: scaleX(1);
		transition: 0.5s ease-out;
	}
	.songs-container{
		padding: 2rem;
		box-shadow: 0 0 50px 10px #fff9ed inset;
		border-radius: 1rem;
	}
	.songs-container h2{
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: -1px;
	}
	.songs-container .songs{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin: 1rem 0;
	}
	.songs-container .songs .song{
		background: linear-gradient(135deg, #fbe4ba, transparent 50%);
		border: 2px solid #fbe4ba;
		border-radius: 0.5rem;
		padding: 0.75rem 0.5rem;
	}
	.songs-container .songs .song h3{
		font-weight: bold;
		text-decoration: underline;
		font-size: 1.25rem;
	}
	.songs-container .songs .song h4{
		margin: 0.5rem 0;
	}
	

	@keyframes outline-ripple{
		0%{
			outline-width: 2px;
		}
		100%{
			outline-offset: 1rem;
			outline-color: rgba(50, 205, 50, 0)
		}
	}
</style>
