
.load-buttons-container{
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;
}
.load-buttons-container .load{
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    background: #199344;
    border: 1px solid #198840;
    color: white;
}
.not-found{
    padding: 1rem;
    background: #199344;
    color: white;
    text-align: center;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 60%;
    animation: fade-in 0.5s ease-out;
}
.not-found h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.not-found p{
    margin: 0;
    background: inherit;
    font-style: italic;
}

@keyframes fade-in{
    0%{opacity: 0}
    100%{opacity: 1}
}

@media (max-width: 768px){
    .load-buttons-container{
        max-width: 75%;
        gap: 1rem;
        justify-content: space-between;
    }
}