.skeleton{
    animation: skeleton-animation infinite 1s linear;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}
.song{
    background: linear-gradient(135deg, #fbe4ba, #eaeaea 50%);
    outline: 2px solid #fbe4ba;
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem;
    font-size: 1.25rem;
    position: relative;
    color: #333;
    transition: 
        scale 0.5s ease-in-out,
        box-shadow 1s linear,
        outline 0.125s ease-out,
        padding-bottom 0.5s ease-in-out;
}
.song.liked{
    transition: 
        scale 0.5s ease-in-out,
        box-shadow 1s linear,
        outline 0.25s ease-out;
    outline: 4px solid #ffcc6e;
    background: linear-gradient(135deg, #ffcc6e, #eaeaea 60%)
}
.song.expanded{
    scale: 1.35;
    z-index: 2;
    box-shadow: 
        0 0 20px 2px #fbe4ba,
        0 0 0 1000vh rgba(0, 0, 0, 0.4);
    padding-bottom: 2rem;
}
.song.liked.expanded{
    box-shadow: 
        0 0 20px 2px #ffcc6e,
        0 0 0 1000vh rgba(0, 0, 0, 0.4);
}
.background-img{
    width: 100%;
    height: 100%;
    background-size: 100%;
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: opacity 0.5s ease-out;
}
.song.liked .background-img{
    opacity: 0.3;
}
/* h3 transition adapted from https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
h3{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.75) 50%) right;
    background-size: 201%;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: 0.35s ease-out;
    position: relative;
}
.song.liked h3{
    background-position: left;
    transition: 0.7s ease-out;
    color: #ffcc6e;
}
h3 button{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    border-top-right-radius: 0.5rem;
    font-size: 0.5rem;
    padding: 0.125rem;
    transition: 0.35s ease-out;
    z-index: 1;
}
.song.liked h3 button{
    transition: 0.35s 0.35s ease-out;
    background: rgba(255, 255, 255, 0.1);
    color: #ffcc6e;
}
h3 .explicit{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #bbb;
    color: rgba(0, 0, 0, 0.75);
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    transition: 0.35s ease-out;
}
.song.liked h3 .explicit{
    transition: 0.35s 0.35s ease-out;
    background: #444;
    color: #bbb;
}
h4{
    margin: 0.5rem 0;
    z-index: 1;
    position: relative;
}
h6{
    font-size: 0.75rem;
    margin: 0.25rem 0;
    animation: grow-linear 0.5s ease-in-out;
    padding: 0.125rem 0.5rem;
    background: #ffcc6e;
    border-radius: 0.5rem;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
iframe{
    display: block;
    padding: 0.5rem;
    height: 50%;
}
a{
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
a.you{
    color: #d68b00;
}
a:hover{
    text-decoration: underline;
}
.like{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background: transparent;
    transition: 0.5s ease-out;
}
.song.liked .like{
    animation: fill-heart 0.75s ease-out;
    color: orange;
    background: radial-gradient(#ffcc6e, transparent 75%);
}
.song.liked.expanded .like{
    background: radial-gradient(orange, transparent 80%);
    color: #fbe4ba;
}
.remove{
    position: absolute;
    top: 0;
    text-align: center;
    left: 50%;
    translate: -50%;
    width: 40%;
    padding: 0.125rem 0.25rem;
    background: rgba(255, 0, 0, 0.1);
    border-radius: 0-0 0.25rem 0.25rem;
    font-size: clamp(0.75rem, 35%, 0.9rem);
    transition: all 1s ease-out, background 1s linear;
}
.song.liked .remove{
    background: rgba(255, 0, 0, 0.5);
    color: white;
}
.remove:hover{
    width: 50%;
    font-size: 0.85rem;
    background: rgba(255, 0, 0, 0.2);
}

@keyframes skeleton-animation{
    0%{background: rgba(0, 0, 0, 0.05)}
    50%{background: rgba(0, 0, 0, 0.08)}
    100%{background: rgba(0, 0, 0, 0.05)}
}
@keyframes grow-linear{
    0%{opacity: 0; font-size: 0}
    100%{opacity: 1; font-size: 0.75rem}
}
@keyframes fill-heart{
    0% {opacity: 0.25}
    25% {rotate: -15deg}
    50% {rotate: 15deg}
    100% {opacity: 1; rotate: 0deg}
}

@media (max-width: 768px){
    .song{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
    .song.expanded{
        scale: 1.1;
    }
    iframe{
        margin: 0;
        width: 100%;
        padding: 0;
    }
}
@media (max-width: 360px){
    .song{
        padding: 0.5rem;
    }
}