---
import Navbar from "../components/Navbar"
import { app } from '../firebase/server';
import { getAuth } from "firebase-admin/auth"

export interface Props {
	title: string;
}

const { title } = Astro.props;

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get("session")
let signedIn = false, decodedCookie

if(sessionCookie){
    decodedCookie = await auth.verifySessionCookie(sessionCookie.value)

	try{
		const user = await auth.getUser(decodedCookie.uid)

		if(user){
			signedIn = true
		}
	} catch(error){}
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:only="react" userId={decodedCookie && decodedCookie.uid ? decodedCookie.uid : null}/>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
	*{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	*::selection{
		background: limegreen;
		color: white;
	}
	body{
		font-family: Inter, Arial, Helvetica, sans-serif;
		background-image: url("/svg/music-note.svg");
		background-size: 10% 50px;
		background-position: 0;
		background-repeat: repeat;
	}
	.text-gradient {
		background-image: linear-gradient(90deg, #333, green);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.error{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(255, 0, 0, 0.35);
		color: white;
		font-size: 2rem;
		display: flex;
		justify-content: center;
		gap: 1rem;
		padding: 1.5rem 0;
		border-radius: 0 0 1rem 1rem;
		animation: drop-down 0.75s ease-out;
	}
	.error span{
		left: 1rem;
		font-size: 2.5rem;
		font-weight: bold;
	}
	button{
		cursor: pointer;
	}
	nav{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	nav a{
		text-decoration: none;
		color: inherit;
		font-weight: normal;
	}
	nav a:hover{
		text-decoration: none;
	}
	nav.seen{
		background: #eee;
		height: 100%;
		box-shadow: 0 0 50px 10px #bbb;
		transition: 0.5s ease-out;
	}
	nav .toggle-visiblity-container{
		padding: 0.75rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		background: rgba(255, 255, 255, 0.75);
		border-bottom-right-radius: 1rem;
	}
	nav.seen .toggle-visiblity-container{
		background: none;
	}
	nav .toggle-visiblity-container button{
		background: transparent;
		display: grid;
		place-items: center;
		transition: 0.5s ease-out;
	}
	nav .toggle-visiblity-container button:focus-within{
		outline: none;
	}
	nav .toggle-visiblity-container svg{
		scale: 2;
	}
	nav .toggle-visiblity-container a{
		font-size: 1.5rem;
		letter-spacing: -1.5px;
	}
	nav .links{
		animation: slide-right 0.5s ease-out;
		font-size: 1.5rem;
	}
	nav .links li{
		margin: 0.5rem 1rem;
		list-style-type: none;
	}
	nav .links li.account-modifier{
		background: #444;
		color: white;
		border-radius: 0.25rem;
		padding: 0.25rem;
	}
	nav .links a{
		padding: 0.5rem;
	}
	nav .links svg{
		scale: 1.5;
		margin-right: 1rem;
	}

	main {
		margin: 4rem auto;
		padding: 2rem;
		max-width: 800px;
		background: #eaeaea;
		border-radius: 1rem;
		box-shadow: 0 0 50px 10px #eaeaea;
		color: #555;
	}
	h1 {
		font-size: 2.75rem;
		font-weight: 800;
		margin: 0;
		color: #333;
		border-bottom: 1px dotted black;
		text-align: center;
	}
	.songs-container{
		padding: 2rem;
		box-shadow: 0 0 50px 10px #fff9ed inset;
		border-radius: 1rem;
	}
	.songs-container h2{
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: -1px;
	}
	.songs-container .songs{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin: 1rem 0;
	}
	p, form{
		background: white;
		margin: 1rem 0;
		border-radius: 1rem;
		padding: 0.5rem 1rem;
		line-height: 1.75rem;
	}
	form{
		border: 1px dotted limegreen;
		margin: 2rem 0;
		font-size: 1.25rem;
	}
	form label{
		text-decoration: underline;
	}
	form input{
		display: block;
		margin-bottom: 1rem;
		background: #eaeaea;
		border-radius: 0.5rem;
		padding: 0.125rem 0.25rem;
		transition: 0.5s ease-out;
		border: 1px solid transparent;
	}
	form input:focus-within{
		outline: none;
		border-color: #cacaca;
		background: #e5e5e5;
	}
	form input[type="submit"]{
		background: limegreen;
		color: white;
		font-weight: bold;
		cursor: pointer;
		padding: 0.5rem;
		border: 1px solid green;
		transition: 1s ease-out;
		margin: 2rem;
	}
	form input[type="submit"]:hover{
		background: green;
	}
	form .view-password{
		padding: 0.125rem 0.25rem;
		margin: 0 1rem;
		border-radius: 100%;
	}

	@keyframes slide-right{
		0%{translate: -100%}
		100%{translate: 0}
	}
	@keyframes drop-down{
		0%{transform: translateY(-100%)}
		100%{transform: translateY(0)}
	}
</style>
